USE [master]
GO
/****** Objeto: Database [CEDIS_Compensaciones_DB] Fecha de script: 21/09/2026 06:39:44 p. m. ******/
CREATE DATABASE [CEDIS_Compensaciones_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CEDIS_Compensaciones_DB', FILENAME = N'D:\SQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\CEDIS_Compensaciones_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CEDIS_Compensaciones_DB_log', FILENAME = N'D:\SQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\CEDIS_Compensaciones_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CEDIS_Compensaciones_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CEDIS_Compensaciones_DB]
GO
/****** Objeto: Table [dbo].[Archivos_Compensacion] Fecha de script: 21/09/2026 06:39:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archivos_Compensacion](
	[ID_Archivo] [int] IDENTITY(1,1) NOT NULL,
	[ID_Compensacion] [int] NOT NULL,
	[Nombre_Archivo] [varchar](255) NOT NULL,
	[Google_Drive_File_ID] [varchar](250) NOT NULL,
	[Fecha_Generacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Archivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Bitacora_Auditoria] Fecha de script: 21/09/2026 06:39:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora_Auditoria](
	[ID_Bitacora] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario_Accion] [int] NOT NULL,
	[Tabla_Afectada] [varchar](50) NOT NULL,
	[ID_Registro_Afectado] [int] NOT NULL,
	[Accion] [varchar](50) NOT NULL,
	[Valor_Anterior] [varchar](max) NULL,
	[Fecha_Accion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cat_Centros_Bodegas] Fecha de script: 21/09/2026 06:39:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Centros_Bodegas](
	[ID_Centro] [int] NOT NULL,
	[Numero_Tienda_Bodega] [int] NOT NULL,
	[Tipo_Ubicacion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Centro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cat_Departamentos] Fecha de script: 21/09/2026 06:39:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Departamentos](
	[ID_Departamento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Departamento] [varchar](100) NOT NULL,
	[Estatus] [bit] NULL,
	[Contrasena_Area] [varchar](255) NULL,
	[Codigo_Union] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cat_Productos] Fecha de script: 21/09/2026 06:39:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Productos](
	[Codigo_SKU] [int] NOT NULL,
	[Articulo] [varchar](150) NOT NULL,
	[Marca_Dep] [int] NULL,
	[Modelo_Clase] [int] NULL,
	[Familia] [int] NULL,
	[Precio_Unidad] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo_SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cat_Roles] Fecha de script: 21/09/2026 06:39:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Roles](
	[ID_Rol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Rol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Compensaciones_Realizadas] Fecha de script: 21/09/2026 06:39:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compensaciones_Realizadas](
	[ID_Compensacion] [int] IDENTITY(1,1) NOT NULL,
	[ID_Poliza_Faltante] [int] NOT NULL,
	[ID_Poliza_Sobrante] [int] NOT NULL,
	[ID_Usuario_Validador] [int] NOT NULL,
	[Fecha_Validacion] [datetime] NULL,
	[Comentario_Resolucion] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Compensacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Log_Ejecucion_Extraccion] Fecha de script: 21/09/2026 06:39:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_Ejecucion_Extraccion](
	[ID_Ejecucion] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario_Ejecutor] [int] NOT NULL,
	[Fecha_Inicio_Ejecucion] [datetime] NULL,
	[Fecha_Fin_Ejecucion] [datetime] NULL,
	[Cantidad_Correos_Leidos] [int] NULL,
	[Registros_Nuevos_Insertados] [int] NULL,
	[Estatus_Resultado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Ejecucion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Operacion_Compensaciones] Fecha de script: 21/09/2026 06:39:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operacion_Compensaciones](
	[ID_Registro] [int] IDENTITY(1,1) NOT NULL,
	[ID_Departamento] [int] NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[Mes] [nvarchar](20) NULL,
	[Tienda_Bodega] [nvarchar](50) NULL,
	[Poliza] [nvarchar](50) NULL,
	[Fecha] [date] NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Articulo] [nvarchar](150) NULL,
	[Marca_Dep] [nvarchar](50) NULL,
	[Modelo_Clase] [nvarchar](50) NULL,
	[Familia] [nvarchar](50) NULL,
	[Codigo] [nvarchar](50) NULL,
	[Vale] [nvarchar](50) NULL,
	[Precio_Unidad] [decimal](18, 2) NULL,
	[Precio_Venta] [decimal](18, 2) NULL,
	[Centro] [nvarchar](50) NULL,
	[Concepto] [nvarchar](255) NULL,
	[Comentarios] [nvarchar](max) NULL,
	[Poliza_Referencia] [nvarchar](100) NULL,
	[SKU] [nvarchar](100) NULL,
	[Autorizacion] [nvarchar](255) NULL,
	[Fecha_Registro] [datetime] NULL,
	[Estatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Polizas_Registro] Fecha de script: 21/09/2026 06:39:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Polizas_Registro](
	[ID_Registro] [int] IDENTITY(1,1) NOT NULL,
	[Numero_Poliza] [int] NOT NULL,
	[Fecha_Registro] [date] NOT NULL,
	[ID_Centro] [int] NOT NULL,
	[Codigo_SKU] [int] NOT NULL,
	[Tipo_Irregularidad] [varchar](20) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Costo_Total_Movimiento] [decimal](18, 2) NOT NULL,
	[Valor_Vale] [decimal](18, 2) NULL,
	[Concepto_Original] [varchar](255) NULL,
	[Comentarios_Seguimientos] [varchar](max) NULL,
	[Estado_Compensacion] [varchar](50) NULL,
	[Origen_Captura] [varchar](50) NOT NULL,
	[ID_Usuario_Captura] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Solicitudes_Acceso] Fecha de script: 21/09/2026 06:39:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitudes_Acceso](
	[ID_Solicitud] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[ID_Departamento] [int] NOT NULL,
	[Estatus] [varchar](20) NULL,
	[Fecha_Solicitud] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 21/09/2026 06:39:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Correo_Google] [varchar](150) NOT NULL,
	[Nombre_Completo] [nvarchar](150) NULL,
	[Estatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios_Espacios] Fecha de script: 21/09/2026 06:39:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios_Espacios](
	[ID_Relacion] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[ID_Departamento] [int] NOT NULL,
	[ID_Rol] [int] NOT NULL,
	[Fecha_Ingreso] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Relacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora_Auditoria] ON 

INSERT [dbo].[Bitacora_Auditoria] ([ID_Bitacora], [ID_Usuario_Accion], [Tabla_Afectada], [ID_Registro_Afectado], [Accion], [Valor_Anterior], [Fecha_Accion]) VALUES (1, 3, N'Operacion_Compensaciones', 2, N'INSERT', N'Nuevo registro. Creado en el sistema.', CAST(N'2026-09-20T19:50:15.210' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bitacora_Auditoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Cat_Departamentos] ON 

INSERT [dbo].[Cat_Departamentos] ([ID_Departamento], [Nombre_Departamento], [Estatus], [Contrasena_Area], [Codigo_Union]) VALUES (1, N'Sistemas', 1, NULL, N'F96FAF')
INSERT [dbo].[Cat_Departamentos] ([ID_Departamento], [Nombre_Departamento], [Estatus], [Contrasena_Area], [Codigo_Union]) VALUES (3, N'prueba 2', 1, N'12345', N'934150')
SET IDENTITY_INSERT [dbo].[Cat_Departamentos] OFF
GO
SET IDENTITY_INSERT [dbo].[Cat_Roles] ON 

INSERT [dbo].[Cat_Roles] ([ID_Rol], [Nombre_Rol]) VALUES (1, N'Administrador')
INSERT [dbo].[Cat_Roles] ([ID_Rol], [Nombre_Rol]) VALUES (2, N'Validador')
SET IDENTITY_INSERT [dbo].[Cat_Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Operacion_Compensaciones] ON 

SET IDENTITY_INSERT [dbo].[Operacion_Compensaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Solicitudes_Acceso] ON 

INSERT [dbo].[Solicitudes_Acceso] ([ID_Solicitud], [ID_Usuario], [ID_Departamento], [Estatus], [Fecha_Solicitud]) VALUES (4, 3, 3, N'Aprobado', CAST(N'2026-09-20T00:33:15.517' AS DateTime))
SET IDENTITY_INSERT [dbo].[Solicitudes_Acceso] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID_Usuario], [Correo_Google], [Nombre_Completo], [Estatus]) VALUES (1, N'cristiangonzalezmaciel95@gmail.com', N'Cristian Gonzalez Maciel', 1)
INSERT [dbo].[Usuarios] ([ID_Usuario], [Correo_Google], [Nombre_Completo], [Estatus]) VALUES (3, N'cristiangonzalez1408@gmail.com', N'cris', 0)
INSERT [dbo].[Usuarios] ([ID_Usuario], [Correo_Google], [Nombre_Completo], [Estatus]) VALUES (9, N'andrickamirm@gmail.com', NULL, 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios_Espacios] ON 

INSERT [dbo].[Usuarios_Espacios] ([ID_Relacion], [ID_Usuario], [ID_Departamento], [ID_Rol], [Fecha_Ingreso]) VALUES (5, 1, 3, 1, CAST(N'2026-09-20T00:29:29.817' AS DateTime))
INSERT [dbo].[Usuarios_Espacios] ([ID_Relacion], [ID_Usuario], [ID_Departamento], [ID_Rol], [Fecha_Ingreso]) VALUES (7, 3, 3, 2, CAST(N'2026-09-20T00:34:10.833' AS DateTime))
INSERT [dbo].[Usuarios_Espacios] ([ID_Relacion], [ID_Usuario], [ID_Departamento], [ID_Rol], [Fecha_Ingreso]) VALUES (10, 9, 3, 2, CAST(N'2026-09-21T10:32:46.540' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuarios_Espacios] OFF
GO
/****** Objeto: Index [UQ__Archivos__8A8EC06BEA757940] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
ALTER TABLE [dbo].[Archivos_Compensacion] ADD UNIQUE NONCLUSTERED 
(
	[ID_Compensacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_CodigoUnion] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
ALTER TABLE [dbo].[Cat_Departamentos] ADD  CONSTRAINT [UQ_CodigoUnion] UNIQUE NONCLUSTERED 
(
	[Codigo_Union] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuarios__87F8B0C902CE8231] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Correo_Google] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Archivos_Compensacion] ADD  DEFAULT (getdate()) FOR [Fecha_Generacion]
GO
ALTER TABLE [dbo].[Bitacora_Auditoria] ADD  DEFAULT (getdate()) FOR [Fecha_Accion]
GO
ALTER TABLE [dbo].[Cat_Departamentos] ADD  DEFAULT ((1)) FOR [Estatus]
GO
ALTER TABLE [dbo].[Cat_Departamentos] ADD  DEFAULT ('12345') FOR [Contrasena_Area]
GO
ALTER TABLE [dbo].[Compensaciones_Realizadas] ADD  DEFAULT (getdate()) FOR [Fecha_Validacion]
GO
ALTER TABLE [dbo].[Log_Ejecucion_Extraccion] ADD  DEFAULT (getdate()) FOR [Fecha_Inicio_Ejecucion]
GO
ALTER TABLE [dbo].[Log_Ejecucion_Extraccion] ADD  DEFAULT ((0)) FOR [Cantidad_Correos_Leidos]
GO
ALTER TABLE [dbo].[Log_Ejecucion_Extraccion] ADD  DEFAULT ((0)) FOR [Registros_Nuevos_Insertados]
GO
ALTER TABLE [dbo].[Operacion_Compensaciones] ADD  DEFAULT (getdate()) FOR [Fecha_Registro]
GO
ALTER TABLE [dbo].[Operacion_Compensaciones] ADD  DEFAULT ((1)) FOR [Estatus]
GO
ALTER TABLE [dbo].[Polizas_Registro] ADD  DEFAULT ((0)) FOR [Valor_Vale]
GO
ALTER TABLE [dbo].[Polizas_Registro] ADD  DEFAULT ('Pendiente') FOR [Estado_Compensacion]
GO
ALTER TABLE [dbo].[Solicitudes_Acceso] ADD  DEFAULT ('Pendiente') FOR [Estatus]
GO
ALTER TABLE [dbo].[Solicitudes_Acceso] ADD  DEFAULT (getdate()) FOR [Fecha_Solicitud]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estatus]
GO
ALTER TABLE [dbo].[Usuarios_Espacios] ADD  DEFAULT (getdate()) FOR [Fecha_Ingreso]
GO
ALTER TABLE [dbo].[Archivos_Compensacion]  WITH CHECK ADD  CONSTRAINT [FK_Archivos_Compensacion] FOREIGN KEY([ID_Compensacion])
REFERENCES [dbo].[Compensaciones_Realizadas] ([ID_Compensacion])
GO
ALTER TABLE [dbo].[Archivos_Compensacion] CHECK CONSTRAINT [FK_Archivos_Compensacion]
GO
ALTER TABLE [dbo].[Bitacora_Auditoria]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([ID_Usuario_Accion])
REFERENCES [dbo].[Usuarios] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Bitacora_Auditoria] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[Compensaciones_Realizadas]  WITH CHECK ADD  CONSTRAINT [FK_Compensacion_Faltante] FOREIGN KEY([ID_Poliza_Faltante])
REFERENCES [dbo].[Polizas_Registro] ([ID_Registro])
GO
ALTER TABLE [dbo].[Compensaciones_Realizadas] CHECK CONSTRAINT [FK_Compensacion_Faltante]
GO
ALTER TABLE [dbo].[Compensaciones_Realizadas]  WITH CHECK ADD  CONSTRAINT [FK_Compensacion_Sobrante] FOREIGN KEY([ID_Poliza_Sobrante])
REFERENCES [dbo].[Polizas_Registro] ([ID_Registro])
GO
ALTER TABLE [dbo].[Compensaciones_Realizadas] CHECK CONSTRAINT [FK_Compensacion_Sobrante]
GO
ALTER TABLE [dbo].[Compensaciones_Realizadas]  WITH CHECK ADD  CONSTRAINT [FK_Compensacion_Usuario] FOREIGN KEY([ID_Usuario_Validador])
REFERENCES [dbo].[Usuarios] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Compensaciones_Realizadas] CHECK CONSTRAINT [FK_Compensacion_Usuario]
GO
ALTER TABLE [dbo].[Log_Ejecucion_Extraccion]  WITH CHECK ADD  CONSTRAINT [FK_Log_Usuario] FOREIGN KEY([ID_Usuario_Ejecutor])
REFERENCES [dbo].[Usuarios] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Log_Ejecucion_Extraccion] CHECK CONSTRAINT [FK_Log_Usuario]
GO
ALTER TABLE [dbo].[Operacion_Compensaciones]  WITH CHECK ADD  CONSTRAINT [FK_Operacion_Departamento] FOREIGN KEY([ID_Departamento])
REFERENCES [dbo].[Cat_Departamentos] ([ID_Departamento])
GO
ALTER TABLE [dbo].[Operacion_Compensaciones] CHECK CONSTRAINT [FK_Operacion_Departamento]
GO
ALTER TABLE [dbo].[Operacion_Compensaciones]  WITH CHECK ADD  CONSTRAINT [FK_Operacion_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuarios] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Operacion_Compensaciones] CHECK CONSTRAINT [FK_Operacion_Usuario]
GO
ALTER TABLE [dbo].[Polizas_Registro]  WITH CHECK ADD  CONSTRAINT [FK_Polizas_Centro] FOREIGN KEY([ID_Centro])
REFERENCES [dbo].[Cat_Centros_Bodegas] ([ID_Centro])
GO
ALTER TABLE [dbo].[Polizas_Registro] CHECK CONSTRAINT [FK_Polizas_Centro]
GO
ALTER TABLE [dbo].[Polizas_Registro]  WITH CHECK ADD  CONSTRAINT [FK_Polizas_Producto] FOREIGN KEY([Codigo_SKU])
REFERENCES [dbo].[Cat_Productos] ([Codigo_SKU])
GO
ALTER TABLE [dbo].[Polizas_Registro] CHECK CONSTRAINT [FK_Polizas_Producto]
GO
ALTER TABLE [dbo].[Polizas_Registro]  WITH CHECK ADD  CONSTRAINT [FK_Polizas_Usuario] FOREIGN KEY([ID_Usuario_Captura])
REFERENCES [dbo].[Usuarios] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Polizas_Registro] CHECK CONSTRAINT [FK_Polizas_Usuario]
GO
ALTER TABLE [dbo].[Solicitudes_Acceso]  WITH CHECK ADD FOREIGN KEY([ID_Departamento])
REFERENCES [dbo].[Cat_Departamentos] ([ID_Departamento])
GO
ALTER TABLE [dbo].[Solicitudes_Acceso]  WITH CHECK ADD FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuarios] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Usuarios_Espacios]  WITH CHECK ADD  CONSTRAINT [FK_Rel_Depto] FOREIGN KEY([ID_Departamento])
REFERENCES [dbo].[Cat_Departamentos] ([ID_Departamento])
GO
ALTER TABLE [dbo].[Usuarios_Espacios] CHECK CONSTRAINT [FK_Rel_Depto]
GO
ALTER TABLE [dbo].[Usuarios_Espacios]  WITH CHECK ADD  CONSTRAINT [FK_Rel_Rol] FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Cat_Roles] ([ID_Rol])
GO
ALTER TABLE [dbo].[Usuarios_Espacios] CHECK CONSTRAINT [FK_Rel_Rol]
GO
ALTER TABLE [dbo].[Usuarios_Espacios]  WITH CHECK ADD  CONSTRAINT [FK_Rel_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuarios] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Usuarios_Espacios] CHECK CONSTRAINT [FK_Rel_Usuario]
GO
ALTER TABLE [dbo].[Polizas_Registro]  WITH CHECK ADD  CONSTRAINT [CHK_EstadoCompensacion] CHECK  (([Estado_Compensacion]='En Revisión' OR [Estado_Compensacion]='Rechazada' OR [Estado_Compensacion]='Compensada' OR [Estado_Compensacion]='Pendiente'))
GO
ALTER TABLE [dbo].[Polizas_Registro] CHECK CONSTRAINT [CHK_EstadoCompensacion]
GO
ALTER TABLE [dbo].[Polizas_Registro]  WITH CHECK ADD  CONSTRAINT [CHK_OrigenCaptura] CHECK  (([Origen_Captura]='Automatizada' OR [Origen_Captura]='Manual'))
GO
ALTER TABLE [dbo].[Polizas_Registro] CHECK CONSTRAINT [CHK_OrigenCaptura]
GO
ALTER TABLE [dbo].[Polizas_Registro]  WITH CHECK ADD  CONSTRAINT [CHK_TipoIrregularidad] CHECK  (([Tipo_Irregularidad]='Sobrante' OR [Tipo_Irregularidad]='Faltante'))
GO
ALTER TABLE [dbo].[Polizas_Registro] CHECK CONSTRAINT [CHK_TipoIrregularidad]
GO
/****** Objeto: StoredProcedure [dbo].[spAceptarSolicitud] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 2. Aprobar solicitud y asignar rol
CREATE   PROCEDURE [dbo].[spAceptarSolicitud](
    @ID_Solicitud INT,
    @ID_Rol INT
)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION
        
        DECLARE @ID_Usuario INT;
        DECLARE @ID_Departamento INT;

        -- Obtener datos de la solicitud
        SELECT @ID_Usuario = ID_Usuario, @ID_Departamento = ID_Departamento 
        FROM Solicitudes_Acceso WHERE ID_Solicitud = @ID_Solicitud AND Estatus = 'Pendiente';

        IF @ID_Usuario IS NULL
        BEGIN
            RAISERROR('La solicitud no existe o ya fue procesada.', 16, 1);
        END

        -- Insertar al usuario en el espacio con el rol seleccionado
        IF NOT EXISTS(SELECT 1 FROM Usuarios_Espacios WHERE ID_Usuario = @ID_Usuario AND ID_Departamento = @ID_Departamento)
        BEGIN
            INSERT INTO Usuarios_Espacios (ID_Usuario, ID_Departamento, ID_Rol, Fecha_Ingreso)
            VALUES (@ID_Usuario, @ID_Departamento, @ID_Rol, GETDATE());
        END

        -- Marcar como aprobada
        UPDATE Solicitudes_Acceso SET Estatus = 'Aprobado' WHERE ID_Solicitud = @ID_Solicitud;

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[spActualizarOperacion] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. PROCEDIMIENTO PARA ACTUALIZAR
CREATE   PROCEDURE [dbo].[spActualizarOperacion] (
    @ID_Registro INT,
    @ID_Departamento INT,
    @Mes NVARCHAR(20),
    @Tienda_Bodega NVARCHAR(50),
    @Poliza NVARCHAR(50),
    @Fecha DATE,
    @Tipo NVARCHAR(50),
    @Cantidad INT,
    @Articulo NVARCHAR(150),
    @Marca_Dep NVARCHAR(50),
    @Modelo_Clase NVARCHAR(50),
    @Familia NVARCHAR(50),
    @Codigo NVARCHAR(50),
    @Vale NVARCHAR(50),
    @Precio_Unidad DECIMAL(18, 2),
    @Precio_Venta DECIMAL(18, 2),
    @Centro NVARCHAR(50),
    @Concepto NVARCHAR(255),
    @Comentarios NVARCHAR(MAX),
    @Poliza_Referencia NVARCHAR(100),
    @SKU NVARCHAR(100),
    @Autorizacion NVARCHAR(255)
)
AS
BEGIN
    UPDATE Operacion_Compensaciones
    SET Mes = @Mes, Tienda_Bodega = @Tienda_Bodega, Poliza = @Poliza, Fecha = @Fecha, 
        Tipo = @Tipo, Cantidad = @Cantidad, Articulo = @Articulo, Marca_Dep = @Marca_Dep, 
        Modelo_Clase = @Modelo_Clase, Familia = @Familia, Codigo = @Codigo, Vale = @Vale, 
        Precio_Unidad = @Precio_Unidad, Precio_Venta = @Precio_Venta, Centro = @Centro, 
        Concepto = @Concepto, Comentarios = @Comentarios, Poliza_Referencia = @Poliza_Referencia, 
        SKU = @SKU, Autorizacion = @Autorizacion
    WHERE ID_Registro = @ID_Registro AND ID_Departamento = @ID_Departamento;
END
GO
/****** Objeto: StoredProcedure [dbo].[spActualizarPoliza] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Actualizar Póliza (Antes de que sea compensada)
Create procedure [dbo].[spActualizarPoliza](
   @ID_Registro int,
   @NuevoCosto decimal(18,2),
   @NuevoConcepto varchar(255)
)as
Begin
   begin Try
      Begin Transaction
      
      declare @idPolizaExistente int
      set @idPolizaExistente = (select ID_Registro from Polizas_Registro where ID_Registro = @ID_Registro)
      
      if @idPolizaExistente is not null
      begin
         update Polizas_Registro set Costo_Total_Movimiento = @NuevoCosto, Concepto_Original = @NuevoConcepto where ID_Registro = @ID_Registro
         print 'La póliza ha sido actualizada exitosamente'
      end
      else
      begin
          print 'La póliza que pretendes actualizar no existe en la base de datos'
      end
      
      Commit Transaction
   End Try
   Begin Catch
      RollBack Transaction
   end Catch
end
GO
/****** Objeto: StoredProcedure [dbo].[spAltaArchivoDrive] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. Alta de Archivo de Google Drive
Create procedure [dbo].[spAltaArchivoDrive](
   @ID_Compensacion int,
   @GoogleDriveFileID varchar(250),
   @NombreArchivo varchar(255)
)as
Begin
   begin Try
      Begin Transaction
      
      declare @idNuevoArchivo int
      set @idNuevoArchivo = (select ID_Archivo from Archivos_Compensacion where Google_Drive_File_ID = @GoogleDriveFileID)
      
      if @idNuevoArchivo is null
      begin
         insert into Archivos_Compensacion (ID_Compensacion, Nombre_Archivo, Google_Drive_File_ID, Fecha_Generacion)
         values(@ID_Compensacion, @NombreArchivo, @GoogleDriveFileID, GETDATE())
         print 'El archivo '+ @NombreArchivo +' ha sido dado de alta exitosamente'
      end
      else
      begin
          print 'El archivo de Drive que pretendes registrar ya existe'
      end
      
      Commit Transaction
   End Try
   Begin Catch
      RollBack Transaction
   end Catch
end
GO
/****** Objeto: StoredProcedure [dbo].[spAltaCompensacion] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Alta de Compensación (Uniendo Faltante y Sobrante)
Create procedure [dbo].[spAltaCompensacion](
   @ID_Poliza_Faltante int,
   @ID_Poliza_Sobrante int,
   @ID_Usuario_Validador int,
   @Comentario_Resolucion varchar(MAX)
)as
Begin
   begin Try
      Begin Transaction
      
      declare @idCompensacionExistente int
      set @idCompensacionExistente = (select ID_Compensacion from Compensaciones_Realizadas where ID_Poliza_Faltante = @ID_Poliza_Faltante OR ID_Poliza_Sobrante = @ID_Poliza_Sobrante)
      
      if @idCompensacionExistente is null
      begin
         insert into Compensaciones_Realizadas (ID_Poliza_Faltante, ID_Poliza_Sobrante, ID_Usuario_Validador, Fecha_Validacion, Comentario_Resolucion)
         values(@ID_Poliza_Faltante, @ID_Poliza_Sobrante, @ID_Usuario_Validador, GETDATE(), @Comentario_Resolucion)
         
         -- Actualizamos el estatus de las dos pólizas (faltante y sobrante) a "Compensada"
         update Polizas_Registro set Estado_Compensacion = 'Compensada' where ID_Registro IN (@ID_Poliza_Faltante, @ID_Poliza_Sobrante)
         
         print 'La compensación ha sido dada de alta exitosamente'
      end
      else
      begin
          print 'Una de las pólizas que pretendes compensar ya tiene una compensación'
      end
      
      Commit Transaction
   End Try
   Begin Catch
      RollBack Transaction
   end Catch
end
GO
/****** Objeto: StoredProcedure [dbo].[spAltaPoliza] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =========================================================================
-- REQUISITO 1: 6 Procedimientos Almacenados de Manipulación (CRUD Operativo)
-- =========================================================================

-- 1. Alta de Póliza
Create procedure [dbo].[spAltaPoliza](
   @Numero_Poliza int,
   @ID_Centro int,
   @Codigo_SKU int,
   @Tipo_Irregularidad varchar(20),
   @Cantidad int,
   @Costo_Total_Movimiento decimal(18,2),
   @Concepto_Original varchar(255),
   @Origen_Captura varchar(50),
   @ID_Usuario_Captura int
)as
Begin
   begin Try
      Begin Transaction
      
      declare @idNuevaPoliza int
      -- Validamos que no se registre el mismo número de póliza y SKU el mismo día por error
      set @idNuevaPoliza = (select top 1 ID_Registro from Polizas_Registro where Numero_Poliza = @Numero_Poliza and Codigo_SKU = @Codigo_SKU and CAST(Fecha_Registro as DATE) = CAST(GETDATE() as DATE))
      
      if @idNuevaPoliza is null
      begin
         insert into Polizas_Registro (Numero_Poliza, Fecha_Registro, ID_Centro, Codigo_SKU, Tipo_Irregularidad, Cantidad, Costo_Total_Movimiento, Concepto_Original, Estado_Compensacion, Origen_Captura, ID_Usuario_Captura)
         values(@Numero_Poliza, GETDATE(), @ID_Centro, @Codigo_SKU, @Tipo_Irregularidad, @Cantidad, @Costo_Total_Movimiento, @Concepto_Original, 'Pendiente', @Origen_Captura, @ID_Usuario_Captura)
         print 'La póliza número '+ CAST(@Numero_Poliza AS VARCHAR) +' ha sido dada de alta exitosamente'
      end
      else
      begin
          print 'La póliza que pretendes registrar ya existe en la base de datos'
      end
      
      Commit Transaction
   End Try
   Begin Catch
      RollBack Transaction
      print ERROR_MESSAGE()
   end Catch
end
GO
/****** Objeto: StoredProcedure [dbo].[spAltaUsuario] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Alta de Usuario (Para el administrador)
Create procedure [dbo].[spAltaUsuario](
   @Correo varchar(150),
   @Nombre varchar(150),
   @ID_Rol int,
   @ID_Departamento int
)as
Begin
   begin Try
      Begin Transaction
      
      declare @idNuevoUsuario int
      set @idNuevoUsuario = (select ID_Usuario from Usuarios where Correo_Google = @Correo)
      
      if @idNuevoUsuario is null
      begin
         insert into Usuarios (Correo_Google, Nombre_Completo, ID_Rol, ID_Departamento, Estatus)
         values(@Correo, @Nombre, @ID_Rol, @ID_Departamento, 1)
         print 'El usuario '+ @Nombre +' ha sido dado de alta exitosamente'
      end
      else
      begin
          print 'El usuario que pretendes dar de alta ya existe'
      end
      
      Commit Transaction
   End Try
   Begin Catch
      RollBack Transaction
   end Catch
end
GO
/****** Objeto: StoredProcedure [dbo].[spBajaPoliza] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Baja Lógica de Póliza (Rechazar)
Create procedure [dbo].[spBajaPoliza](
   @ID_Registro int
)as
Begin
   begin Try
      Begin Transaction
      
      declare @idPolizaExistente int
      -- Solo podemos dar de baja si está pendiente o en revisión
      set @idPolizaExistente = (select ID_Registro from Polizas_Registro where ID_Registro = @ID_Registro and Estado_Compensacion IN ('Pendiente', 'En Revisión'))
      
      if @idPolizaExistente is not null
      begin
         -- Cambiamos el estado a Rechazada (Soft Delete)
         update Polizas_Registro set Estado_Compensacion = 'Rechazada' where ID_Registro = @ID_Registro
         print 'La póliza ha sido rechazada/dada de baja exitosamente'
      end
      else
      begin
          print 'La póliza que pretendes dar de baja no existe o ya está procesada'
      end
      
      Commit Transaction
   End Try
   Begin Catch
      RollBack Transaction
   end Catch
end
GO
/****** Objeto: StoredProcedure [dbo].[spCambiarPasswordArea] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========================================================================
-- REQUISITO 3: Procedimiento para Cambiar Contraseña del Área
-- =========================================================================
Create procedure [dbo].[spCambiarPasswordArea](
   @ID_Departamento int,
   @ContrasenaActual varchar(255),
   @NuevaContrasena varchar(255),
   @FilasAfectadas int output
)as
Begin
   begin Try
      Begin Transaction
      
      set @FilasAfectadas = 0
      declare @idAreaValida int
      set @idAreaValida = (select ID_Departamento from Cat_Departamentos where ID_Departamento = @ID_Departamento and Contrasena_Area = @ContrasenaActual)
      
      if @idAreaValida is not null
      begin
         update Cat_Departamentos set Contrasena_Area = @NuevaContrasena where ID_Departamento = @ID_Departamento
         set @FilasAfectadas = @@ROWCOUNT
         print 'La contraseña del área ha sido actualizada exitosamente'
      end
      else
      begin
          print 'La contraseña actual que proporcionaste no coincide con la base de datos'
      end
      
      Commit Transaction
   End Try
   Begin Catch
      RollBack Transaction
   end Catch
end
GO
/****** Objeto: StoredProcedure [dbo].[spCrearEspacioConValidacion] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spCrearEspacioConValidacion](
    @Nombre_Departamento NVARCHAR(100),
    @Contrasena_Area NVARCHAR(50),
    @Correo_Creador NVARCHAR(100),
    @Codigo_Union NVARCHAR(6)
)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION

        -- 1. Obtener el ID del usuario creador
        DECLARE @ID_Usuario INT;
        SELECT @ID_Usuario = ID_Usuario FROM Usuarios WHERE Correo_Google = @Correo_Creador;

        IF @ID_Usuario IS NULL
        BEGIN
            RAISERROR('El usuario no está registrado en el sistema.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 2. VALIDAR: Que no exista ya un espacio con este mismo nombre donde ESTE USUARIO sea el Administrador (Rol 1)
        IF EXISTS (
            SELECT 1 
            FROM Cat_Departamentos d
            INNER JOIN Usuarios_Espacios ue ON d.ID_Departamento = ue.ID_Departamento
            WHERE d.Nombre_Departamento = @Nombre_Departamento 
              AND ue.ID_Usuario = @ID_Usuario 
              AND ue.ID_Rol = 1
              AND d.Estatus = 1
        )
        BEGIN
            RAISERROR('Ya tienes un proyecto creado con este nombre. Elige uno diferente.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 3. Crear el Departamento
        INSERT INTO Cat_Departamentos (Nombre_Departamento, Contrasena_Area, Codigo_Union, Estatus)
        VALUES (@Nombre_Departamento, @Contrasena_Area, @Codigo_Union, 1);

        DECLARE @ID_Departamento INT = SCOPE_IDENTITY();

        -- 4. Asignarle el rol de Administrador Supremo (Rol 1) al creador
        INSERT INTO Usuarios_Espacios (ID_Usuario, ID_Departamento, ID_Rol, Fecha_Ingreso)
        VALUES (@ID_Usuario, @ID_Departamento, 1, GETDATE());

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[spCrearEspacioTrabajo] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCrearEspacioTrabajo](
    @Nombre_Departamento VARCHAR(100),
    @Contrasena_Area VARCHAR(255),
    @Correo_Creador VARCHAR(150)
)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION
        
        DECLARE @ID_Nuevo_Depto INT;
        DECLARE @ID_Usuario INT;
        DECLARE @NuevoCodigo VARCHAR(10);

        -- Generar un código aleatorio de 6 caracteres alfanuméricos
        SET @NuevoCodigo = UPPER(SUBSTRING(REPLACE(NEWID(), '-', ''), 1, 6));

        -- 1. Obtener el ID del usuario que está creando el espacio
        SET @ID_Usuario = (SELECT ID_Usuario FROM Usuarios WHERE Correo_Google = @Correo_Creador);

        -- 2. Crear el nuevo espacio con su código
        INSERT INTO Cat_Departamentos (Nombre_Departamento, Contrasena_Area, Estatus, Codigo_Union)
        VALUES (@Nombre_Departamento, @Contrasena_Area, 1, @NuevoCodigo);

        SET @ID_Nuevo_Depto = SCOPE_IDENTITY();

        -- 3. Vincular al creador con el Rol 1 (Super Admin)
        INSERT INTO Usuarios_Espacios (ID_Usuario, ID_Departamento, ID_Rol, Fecha_Ingreso)
        VALUES (@ID_Usuario, @ID_Nuevo_Depto, 1, GETDATE());

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        PRINT ERROR_MESSAGE();
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[spDarDeBajaUsuario] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. SP PARA DARSE DE BAJA (Usuarios Normales)
CREATE   PROCEDURE [dbo].[spDarDeBajaUsuario](
    @ID_Departamento INT,
    @Correo_Google NVARCHAR(100)
)
AS
BEGIN
    DECLARE @ID_Usuario INT;
    SELECT @ID_Usuario = ID_Usuario FROM Usuarios WHERE Correo_Google = @Correo_Google;

    DELETE FROM Usuarios_Espacios WHERE ID_Usuario = @ID_Usuario AND ID_Departamento = @ID_Departamento;
END
GO
/****** Objeto: StoredProcedure [dbo].[spEliminarOperacion] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spEliminarOperacion] (
    @ID_Registro INT,
    @ID_Departamento INT
)
AS
BEGIN
    -- Se elimina físicamente el registro de la tabla
    DELETE FROM Operacion_Compensaciones
    WHERE ID_Registro = @ID_Registro AND ID_Departamento = @ID_Departamento;
END
GO
/****** Objeto: StoredProcedure [dbo].[spEliminarProyectoCompleto] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. SP PARA ELIMINAR PROYECTO (Solo Admin Supremo con contraseña)
CREATE   PROCEDURE [dbo].[spEliminarProyectoCompleto](
    @ID_Departamento INT,
    @ContrasenaProporcionada NVARCHAR(50),
    @Correo_Admin NVARCHAR(100),
    @Mensaje NVARCHAR(200) OUTPUT
)
AS
BEGIN
    BEGIN TRY
        -- A. Validar que el usuario sea el Super Admin de ese proyecto
        IF NOT EXISTS(
            SELECT 1 FROM Usuarios_Espacios ue 
            INNER JOIN Usuarios u ON ue.ID_Usuario = u.ID_Usuario
            WHERE ue.ID_Departamento = @ID_Departamento AND u.Correo_Google = @Correo_Admin AND ue.ID_Rol = 1
        )
        BEGIN
            RAISERROR('No tienes permisos de Administrador para eliminar este proyecto.', 16, 1);
            RETURN;
        END

        -- B. Validar contraseña maestra del área
        DECLARE @PassCorrecta NVARCHAR(50);
        SELECT @PassCorrecta = Contrasena_Area FROM Cat_Departamentos WHERE ID_Departamento = @ID_Departamento;
        
        IF @PassCorrecta != @ContrasenaProporcionada
        BEGIN
            RAISERROR('La contraseña maestra del espacio es incorrecta.', 16, 1);
            RETURN;
        END

        -- C. Borrar todos los rastros
        BEGIN TRANSACTION
            -- 1. Borrar Solicitudes Pendientes
            DELETE FROM Solicitudes_Acceso WHERE ID_Departamento = @ID_Departamento;
            -- 2. Borrar a todos los Participantes
            DELETE FROM Usuarios_Espacios WHERE ID_Departamento = @ID_Departamento;
            -- 3. Borrar el Departamento / Proyecto
            DELETE FROM Cat_Departamentos WHERE ID_Departamento = @ID_Departamento;
        COMMIT TRANSACTION

        SET @Mensaje = 'El proyecto y todos sus datos fueron eliminados permanentemente.';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@Err, 16, 1);
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[spInsertarOperacion] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spInsertarOperacion] (
    @ID_Departamento INT,
    @Correo_Google NVARCHAR(100),
    @Mes NVARCHAR(20),
    @Tienda_Bodega NVARCHAR(50),
    @Poliza NVARCHAR(50),
    @Fecha DATE,
    @Tipo NVARCHAR(50),
    @Cantidad INT,
    @Articulo NVARCHAR(150),
    @Marca_Dep NVARCHAR(50),
    @Modelo_Clase NVARCHAR(50),
    @Familia NVARCHAR(50),
    @Codigo NVARCHAR(50),
    @Vale NVARCHAR(50),
    @Precio_Unidad DECIMAL(18, 2),
    @Precio_Venta DECIMAL(18, 2),
    @Centro NVARCHAR(50),
    @Concepto NVARCHAR(255),
    @Comentarios NVARCHAR(MAX),
    @Poliza_Referencia NVARCHAR(100),
    @SKU NVARCHAR(100),
    @Autorizacion NVARCHAR(255)
)
AS
BEGIN
    BEGIN TRY
        DECLARE @ID_Usuario INT;
        SELECT @ID_Usuario = ID_Usuario FROM Usuarios WHERE Correo_Google = @Correo_Google;

        IF @ID_Usuario IS NULL
        BEGIN
            RAISERROR('Usuario no encontrado.', 16, 1);
            RETURN;
        END

        INSERT INTO Operacion_Compensaciones (
            ID_Departamento, ID_Usuario, Mes, Tienda_Bodega, Poliza, Fecha, Tipo, Cantidad, 
            Articulo, Marca_Dep, Modelo_Clase, Familia, Codigo, Vale, Precio_Unidad, Precio_Venta, 
            Centro, Concepto, Comentarios, Poliza_Referencia, SKU, Autorizacion
        )
        VALUES (
            @ID_Departamento, @ID_Usuario, @Mes, @Tienda_Bodega, @Poliza, @Fecha, @Tipo, @Cantidad, 
            @Articulo, @Marca_Dep, @Modelo_Clase, @Familia, @Codigo, @Vale, @Precio_Unidad, @Precio_Venta, 
            @Centro, @Concepto, @Comentarios, @Poliza_Referencia, @SKU, @Autorizacion
        );

    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[spInvitarUsuario] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInvitarUsuario](
    @Correo_Invitado VARCHAR(150),
    @ID_Departamento INT,
    @ID_Rol INT
)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION
        
        DECLARE @ID_Usuario INT;

        -- 1. Verificar si el usuario ya existe en la base general (ha entrado antes)
        IF EXISTS(SELECT 1 FROM Usuarios WHERE Correo_Google = @Correo_Invitado)
        BEGIN
            SET @ID_Usuario = (SELECT ID_Usuario FROM Usuarios WHERE Correo_Google = @Correo_Invitado);
        END
        ELSE
        BEGIN
            -- Si es completamente nuevo, lo pre-registramos en el sistema
            INSERT INTO Usuarios (Correo_Google, Estatus) VALUES (@Correo_Invitado, 1);
            SET @ID_Usuario = SCOPE_IDENTITY();
        END

        -- 2. Verificar si ya está invitado o pertenece a este departamento
        IF EXISTS(SELECT 1 FROM Usuarios_Espacios WHERE ID_Usuario = @ID_Usuario AND ID_Departamento = @ID_Departamento)
        BEGIN
            RAISERROR('El usuario ya pertenece a este espacio de trabajo.', 16, 1);
        END
        ELSE
        BEGIN
            -- 3. Vincularlo al espacio con su Rol
            INSERT INTO Usuarios_Espacios (ID_Usuario, ID_Departamento, ID_Rol, Fecha_Ingreso)
            VALUES (@ID_Usuario, @ID_Departamento, @ID_Rol, GETDATE());
        END

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[spObtenerMiembrosEspacio] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. Procedimiento para listar los miembros de un departamento
CREATE PROCEDURE [dbo].[spObtenerMiembrosEspacio](
    @ID_Departamento INT
)
AS
BEGIN
    SELECT 
        u.ID_Usuario, 
        u.Correo_Google, 
        r.Nombre_Rol, 
        ue.Fecha_Ingreso,
        ue.ID_Rol
    FROM Usuarios_Espacios ue
    INNER JOIN Usuarios u ON ue.ID_Usuario = u.ID_Usuario
    INNER JOIN Cat_Roles r ON ue.ID_Rol = r.ID_Rol
    WHERE ue.ID_Departamento = @ID_Departamento;
END
GO
/****** Objeto: StoredProcedure [dbo].[spObtenerOperacionesPorEspacio] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spObtenerOperacionesPorEspacio] (
    @ID_Departamento INT
)
AS
BEGIN
    SELECT 
        o.ID_Registro, o.Mes, o.Tienda_Bodega, o.Poliza, o.Fecha, o.Tipo, 
        o.Cantidad, o.Articulo, o.Marca_Dep, o.Modelo_Clase, o.Familia, 
        o.Codigo, o.Vale, o.Precio_Unidad, o.Precio_Venta, o.Centro, 
        o.Concepto, o.Comentarios, o.Poliza_Referencia, o.SKU, o.Autorizacion,
        o.Fecha_Registro, -- <- IMPORTANTE: Agregamos la fecha de registro
        u.Correo_Google AS Responsable
    FROM Operacion_Compensaciones o
    INNER JOIN Usuarios u ON o.ID_Usuario = u.ID_Usuario
    WHERE o.ID_Departamento = @ID_Departamento AND o.Estatus = 1
    ORDER BY o.Fecha DESC, o.ID_Registro DESC;
END
GO
/****** Objeto: StoredProcedure [dbo].[spObtenerPasswordArea] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spObtenerPasswordArea](
    @ID_Departamento INT,
    @Correo_Usuario NVARCHAR(100),
    @ContrasenaArea NVARCHAR(50) OUTPUT
)
AS
BEGIN
    -- Validar que el usuario sea el Administrador (Rol 1) de este departamento
    IF EXISTS(
        SELECT 1 FROM Usuarios_Espacios ue 
        INNER JOIN Usuarios u ON ue.ID_Usuario = u.ID_Usuario
        WHERE ue.ID_Departamento = @ID_Departamento AND u.Correo_Google = @Correo_Usuario AND ue.ID_Rol = 1
    )
    BEGIN
        SELECT @ContrasenaArea = Contrasena_Area 
        FROM Cat_Departamentos 
        WHERE ID_Departamento = @ID_Departamento;
    END
    ELSE
    BEGIN
        SET @ContrasenaArea = NULL;
    END
END
GO
/****** Objeto: StoredProcedure [dbo].[spObtenerSolicitudesPendientes] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spObtenerSolicitudesPendientes](
    @ID_Departamento INT
)
AS
BEGIN
    SELECT 
        s.ID_Solicitud,
        u.Correo_Google,
        s.Fecha_Solicitud
    FROM Solicitudes_Acceso s
    INNER JOIN Usuarios u ON s.ID_Usuario = u.ID_Usuario
    WHERE s.ID_Departamento = @ID_Departamento AND s.Estatus = 'Pendiente';
END
GO
/****** Objeto: StoredProcedure [dbo].[spQuitarAccesoEspacio] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Procedimiento para revocar el acceso a un usuario
CREATE PROCEDURE [dbo].[spQuitarAccesoEspacio](
    @ID_Usuario INT,
    @ID_Departamento INT
)
AS
BEGIN
    BEGIN TRY
        -- Verificamos que no sea el último Super Admin para no dejar huérfano el espacio
        DECLARE @TotalAdmins INT;
        SELECT @TotalAdmins = COUNT(*) FROM Usuarios_Espacios 
        WHERE ID_Departamento = @ID_Departamento AND ID_Rol = 1;

        DECLARE @RolAEliminar INT;
        SELECT @RolAEliminar = ID_Rol FROM Usuarios_Espacios 
        WHERE ID_Usuario = @ID_Usuario AND ID_Departamento = @ID_Departamento;

        IF @RolAEliminar = 1 AND @TotalAdmins <= 1
        BEGIN
            RAISERROR('No puedes eliminar al único Super Administrador del espacio.', 16, 1);
        END
        ELSE
        BEGIN
            DELETE FROM Usuarios_Espacios
            WHERE ID_Usuario = @ID_Usuario AND ID_Departamento = @ID_Departamento;
        END
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[spRechazarSolicitud] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spRechazarSolicitud](
    @ID_Solicitud INT
)
AS
BEGIN
    BEGIN TRY
        -- Cambiamos el estatus para que ya no aparezca como pendiente
        UPDATE Solicitudes_Acceso 
        SET Estatus = 'Rechazado' 
        WHERE ID_Solicitud = @ID_Solicitud AND Estatus = 'Pendiente';
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[spSolicitarAcceso] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSolicitarAcceso](
    @Correo_Google VARCHAR(150),
    @Codigo_Union VARCHAR(10)
)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION
        
        DECLARE @ID_Usuario INT;
        DECLARE @ID_Departamento INT;

        -- 1. Validar que el código exista
        SELECT @ID_Departamento = ID_Departamento FROM Cat_Departamentos 
        WHERE Codigo_Union = @Codigo_Union AND Estatus = 1;

        IF @ID_Departamento IS NULL
        BEGIN
            RAISERROR('El código de espacio no existe o está inactivo.', 16, 1);
        END

        -- 2. Obtener o registrar al usuario si es su primera vez en el sistema
        IF EXISTS(SELECT 1 FROM Usuarios WHERE Correo_Google = @Correo_Google)
        BEGIN
            SET @ID_Usuario = (SELECT ID_Usuario FROM Usuarios WHERE Correo_Google = @Correo_Google);
        END
        ELSE
        BEGIN
            INSERT INTO Usuarios (Correo_Google, Estatus) VALUES (@Correo_Google, 1);
            SET @ID_Usuario = SCOPE_IDENTITY();
        END

        -- 3. Validar si ya pertenece al espacio
        IF EXISTS(SELECT 1 FROM Usuarios_Espacios WHERE ID_Usuario = @ID_Usuario AND ID_Departamento = @ID_Departamento)
        BEGIN
            RAISERROR('Ya perteneces a este espacio de trabajo.', 16, 1);
        END

        -- 4. Validar si ya tiene una solicitud pendiente
        IF EXISTS(SELECT 1 FROM Solicitudes_Acceso WHERE ID_Usuario = @ID_Usuario AND ID_Departamento = @ID_Departamento AND Estatus = 'Pendiente')
        BEGIN
            RAISERROR('Ya enviaste una solicitud a este espacio. Espera a que un administrador la apruebe.', 16, 1);
        END

        -- 5. Registrar la solicitud
        INSERT INTO Solicitudes_Acceso (ID_Usuario, ID_Departamento, Estatus, Fecha_Solicitud)
        VALUES (@ID_Usuario, @ID_Departamento, 'Pendiente', GETDATE());

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[spValidarLogueoArea] Fecha de script: 21/09/2026 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========================================================================
-- REQUISITO 2: Procedimiento de Logueo (Para el espacio de trabajo protegido)
-- =========================================================================
Create procedure [dbo].[spValidarLogueoArea](
   @ID_Departamento int,
   @ContrasenaProporcionada varchar(255),
   @EsValido bit output
)as
Begin
   begin Try
      Begin Transaction
      
      set @EsValido = 0
      declare @idAreaValida int
      set @idAreaValida = (select ID_Departamento from Cat_Departamentos where ID_Departamento = @ID_Departamento and Contrasena_Area = @ContrasenaProporcionada)
      
      if @idAreaValida is not null
      begin
         set @EsValido = 1
         print 'Credenciales aceptadas. El área ha sido desbloqueada exitosamente'
      end
      else
      begin
          print 'La contraseña que pretendes usar es incorrecta para esta área'
      end
      
      Commit Transaction
   End Try
   Begin Catch
      RollBack Transaction
   end Catch
end
GO
USE [master]
GO
